/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    max-width:324px;/*スライダー内の画像を横幅100%に*/
    max-height: 490px;;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin-right: 40px;/*スライド左右の余白調整*/
}